@page
@model WebUi.Pages.ServiceItem.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ServiceItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceItem.Provider)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceItem.Provider.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceItem.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceItem.Location.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceItem.ServiceLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceItem.ServiceLevel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceItem.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceItem.Type.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ServiceItem.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
