@page
@model WebUi.Pages.ConfigItem.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConfigItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfigItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigItem.ConfigType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfigItem.ConfigType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigItem.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfigItem.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigItem.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfigItem.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigItem.DateModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfigItem.DateModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigItem.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfigItem.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigItem.RowVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfigItem.RowVersion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ConfigItem?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
